<div class="px-5">

    <div class="d-flex justify-content-between align-items-center mb-3 pt-3 ">
        <button class="btn btn-light rounded-circle shadow-sm p-2 border" 
                (click)="goBack()" 
                title="Volver al catálogo">
            <i class="bi bi-arrow-left fs-2 d-flex"></i>
        </button>

        <button class="btn btn-outline-danger d-flex align-items-center shadow-sm px-3" 
                (click)="logout()" 
                style="font-weight: 600; border-radius: 50px;">
            <i class="bi bi-box-arrow-right me-2"></i>
            Cerrar Sesión
        </button>
    </div>

    <div class="card shadow-sm border-0">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-start mb-3">
                <div>
                    <h5 class="fw-bold mb-2">Libros Favoritos de <span class="text-primary">{{ userName }}</span></h5>
                </div>
            </div>

            <hr>

            <div *ngIf="isLoading" class="text-center my-5">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Cargando libros...</span>
                </div>
                <p class="mt-2 text-muted">Buscando en la biblioteca...</p>
            </div>

            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4 mb-4 mt-3">

                <div class="col" *ngFor="let favorite of favorites  ">
                    <div class="card h-100 border-0 shadow-sm hover-effect">
                        <img [src]="favorite.coverUrl | image"
                            class="card-img-top" [alt]="favorite.title" style="height: 250px; object-fit: cover;">

                        <div class="card-body d-flex flex-column">
                            <h6 class="card-title fw-bold text-truncate" [title]="favorite.title">
                                {{ favorite.title }}
                            </h6>
                            <p class="card-text small text-muted mb-1">
                                <i class="bi bi-person"></i> {{ favorite.authors.join(', ') }}
                            </p>
                            <p class="card-text small text-muted mt-auto">
                                <i class="bi bi-calendar-event"></i> {{ favorite.firstPublishYear }}
                            </p>
                        </div>

                        <div class="card-footer bg-transparent border-0 pb-3">
                            <div class="d-grid gap-2">
                                <button class="btn btn-outline-primary btn-sm" (click)="openDetail(favorite)" data-bs-toggle="modal" data-bs-target="#bookDetailModal">
                                    <i class="bi bi-eye me-1"></i> Ver detalles
                                </button>

                                <button
                                    class="btn btn-sm btn-danger d-flex align-items-center justify-content-center transition-all"
                                    (click)="removeFavorite(favorite)">
                                    <i class="bi bi-bookmark-x-fill me-1"></i>
                                    Quitar favorito
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <book-detail-modal [book]="selectedBook"></book-detail-modal>

            </div>
            <nav *ngIf="totalPages > 1" aria-label="Navegación de libros" class="my-4">
                <ul class="pagination justify-content-center">

                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="searchBooks(currentPage - 1)" role="button">Anterior</a>
                    </li>

                    <li class="page-item" *ngFor="let page of getPagesArray()" [class.active]="page === currentPage">
                        <a class="page-link" (click)="searchBooks(page)" role="button">{{ page }}</a>
                    </li>

                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                        <a class="page-link" (click)="searchBooks(currentPage + 1)" role="button">Siguiente</a>
                    </li>

                </ul>
                <p class="text-center text-muted small">Página {{currentPage}} de {{totalPages}} ({{totalItems}} libros
                    encontrados)</p>
            </nav>
        </div>
    </div>

</div>