.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7); /* fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner-center {
  width: 60px;
  height: 60px;
}